<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="path" value =".\alumnosJson-appConfig.json"/>
    <add key ="pathEnVa" value ="C:\Windows\alumnosJson-EnviVar.json"/>
  </appSettings>
</configuration>
