<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="path" value =".\alumnosJson-appConfig.json"/>
    <add key ="pathEnVa" value ="C:\Users\G1\Documents\alumnosJson-EnviVar.json"/>
    <add key ="fileName" value =".\AlumnosFile"/>
    <add key ="enviroment" value ="VUELING_HOME"/>
    <add key ="json" value =".json"/>
    <add key ="xml" value =".xml"/>
    <add key ="txt" value =".txt"/>
    <add key ="resx" value ="C:\Users\G1\source\repos\FileServer\FileServer.Presentation.WinSite\FileManager.Spanish.resx"/>
  </appSettings>
</configuration>
